@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-sora: "Sora", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;
    color-scheme: dark;
}

* {
    scroll-behavior: smooth;
}

@layer base {
    body {
        @apply font-sans bg-n-8 text-n-1 text-base;
    }
}

.rotate-45 {
    @apply rotate-[45deg];
}

.rotate-90 {
    @apply rotate-[90deg];
}

.rotate-135 {
    @apply rotate-[135deg];
}

.rotate-180 {
    @apply rotate-[180deg];
}

.rotate-225 {
    @apply rotate-[225deg];
}

.rotate-270 {
    @apply rotate-[270deg];
}

.rotate-315 {
    @apply rotate-[315deg];
}

.rotate-360 {
    @apply rotate-[360deg];
}

.-rotate-45 {
    @apply rotate-[-45deg];
}

.-rotate-90 {
    @apply rotate-[-90deg];
}

.-rotate-135 {
    @apply rotate-[-135deg];
}

.-rotate-180 {
    @apply rotate-[-180deg];
}

.-rotate-225 {
    @apply rotate-[-225deg];
}

.-rotate-270 {
    @apply rotate-[-270deg];
}

.-rotate-315 {
    @apply rotate-[-315deg];
}

.-rotate-360 {
    @apply rotate-[-360deg];
}


/* Custom transition for display */
@keyframes fadeIn {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: flex;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        display: flex;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}

.hidden-nav {
    animation: fadeOut 1s forwards;
}

.visible-nav {
    animation: fadeIn 1s forwards;
}

/* Add this to your CSS file */
.card-container {
    transition: transform 0.1s ease-out;
    transform-style: preserve-3d;
}

.card-container:hover {
    box-shadow:
        0 0 20px 5px rgba(66, 38, 102, 0.5),
        0 0 40px 15px rgba(66, 38, 102, 0.3),
        0 0 60px 25px rgba(66, 38, 102, 0.2),
        0 0 80px 35px rgba(66, 38, 102, 0.1);
}


@keyframes glow {
    0% {
        box-shadow: 0 0 5px #39205552, 0 0 10px #39205552, 0 0 15px #39205552, 0 0 20px #39205552, 0 0 25px #39205552, 0 0 30px #39205552, 0 0 35px #39205552;

    }

    50% {
        box-shadow: 0 0 10px #39205552, 0 0 20px #39205552, 0 0 30px #39205552, 0 0 40px #39205552, 0 0 50px #39205552, 0 0 60px #39205552, 0 0 70px #39205552;
    }

    100% {
        box-shadow: 0 0 5px #39205552, 0 0 10px #39205552, 0 0 15px #39205552, 0 0 20px #39205552, 0 0 25px #39205552, 0 0 30px #39205552, 0 0 35px #39205552;
    }
}

.button-glow {
    transition: all 0.6s ease-in-out;
}

.button-glow:hover {
    animation: glow 1.5s infinite alternate;
}